#catalog{
  background: #F8F4E4;
  .slick-prev:before,
  .slick-next:before{
    color: black;
  }
  h1{
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 120%;
    color: #2A2C31;

  }
  .catalog{
    padding: 50px 0 90px 0;
  }
}