#window{
  background: #F8F4E4;
  backdrop-filter: blur(100px);
  height: 100%;
  z-index: 10;
  position: relative;
  left: 0;
  top: 0;

}
#modal{
  width: 90%;
  height: 94%;
  background: #F8F4E4;
  z-index: 20;
  .modal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin: 10px 0;
    .bookcard{
      padding: 20px;
    }
  }
}


@media (max-width: 1536px) {
  #modal .modal {
    margin: 11px 0 7px 80px;
    padding: 30px 0;
  }

}

@media (max-width: 1400px) {
  #modal .modal {
    margin: 11px 0 7px 35px;
    padding: 30px 0;
  }
  #modal  {
  margin-left: 20px;
  }

}

@media (max-width: 1366px) {
  #modal .modal {
    margin: 11px 0 7px 26px;
  }

}

@media (max-width: 1280px) {
  #modal .modal {
    margin: 11px 0 7px 80px;
  }
  #modal  {
   margin-right: 20px;
  }

}

@media (max-width: 1200px) {
  #modal .modal {
    margin: 11px 0 7px 60px;
  }
  #modal  {
  margin: 0 15px 0 0;
  }
}

@media (max-width: 1140px) {
  #modal .modal {
    margin: 11px 0 7px 40px;
  }

}

@media (max-width: 1024px) {
  #modal .modal {
    margin: 11px 0 7px 80px;
  }

}

@media (max-width: 992px) {
  #modal .modal {
    margin: 11px 0 7px 80px;
  }

}

@media (max-width: 768px) {
  #modal .modal {
    margin: 11px 0 7px 85px;
  }
}

@media (max-width: 576px) {
  #modal{
    left: 25px;
  }
  #modal .modal {
    margin: 11px 0 7px 25px;
  }

}

@media (max-width: 450px) {
  #modal .modal {
    margin: 11px 0 7px 67px;
  }

}

@media (max-width: 400px) {
  #modal .modal {
    margin: 11px 0 7px 50px;
  }

}

@media (max-width: 380px) {
  #modal .modal {
    margin: 11px 0 7px 45px;
  }

}

@media (max-width: 360px) {
  #modal .modal {
    margin: 11px 0 7px 37px;
  }

}

@media (max-width: 320px) {
  #modal .modal {
    margin: 11px 0 7px 24px;
  }

}

