#window{
  background: rgba(0, 0, 0, 0.38);
  backdrop-filter: blur(2px);
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;

}

#modal{
  position: relative;
  left: 50px;
  width: 90%;
  height: 150%;
  background: #F8F4E4;
  z-index: 20;
  .genre--img{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20px;

  }
}
