#window{
  background: rgba(0, 0, 0, 0.38);
  backdrop-filter: blur(2px);
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;

}

#modal{
  position: relative;
  left: 48px;
  width: 90%;
  height: 150%;
  background: #F8F4E4;
  z-index: 20;
  .genre--img{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20px;

  }
}

@media (max-width: 1400px) {
  #modal .genre--img {
    margin: 20px 25px;
  }
  #genre .genre--img--one p {
    text-align: center;
    font-size: 15px;
  }
  #genre .genre--img--four p {
    left: 12%;
    font-size: 15px;
  }
  #genre .genre--img--nine p {
    left: 15%;
  }
  #genre .genre--img--five p {
    left: 20%;
    font-size: 15px;
    width: 60%;
    text-align: center;
  }
  #genre .genre--img--three p {
    left: 12%;
    font-size: 15px;
  }
  #genre .genre--img--one img {
    padding: 20px 0;
  }
  #genre .genre--img--two img {
    padding: 20px 0;
  }
  #genre .genre--img--three img {
    padding: 20px 0;
  }
  #genre .genre--img--four img {
    padding: 20px 0;
  }
  #genre .genre--img--five img {
    padding: 20px 0;
  }
  #genre .genre--img--six img {
    padding: 20px 0;
  }
  #genre .genre--img--seven img {
    padding: 20px 0;
  }
  #genre .genre--img--eight img {
    padding: 20px 0;
  }
  #genre .genre--img--nine img {
    padding: 20px 0;
  }
  #genre .genre--img--ten img {
    padding: 20px 0;
  }

}

@media (max-width: 1366px) {
  #modal .genre--img {
    margin: 20px 0 0 20px;
  }

}


@media (max-width: 1200px) {

  #modal .genre--img {
    margin: 20px -19px;
  }

}

@media (max-width: 1024px) {
  #genre .genre--img--four p {
    left: 26%;
    font-size: 15px;
  }

}

@media (max-width: 992px) {
  #modal .genre--img {
    margin: 20px 63px;
  }
}

@media (max-width: 768px) {
  #modal .genre--img {
    margin: 20px 45px;
  }
  #genre .genre--img--one p {
    text-align: center;
    font-size: 11px;
  }
  #genre .genre--img--four p {
    left: 6%;
    font-size: 15px;
  }
  #genre .genre--img--nine p {
    left: 3%;
  }


}

@media (max-width: 576px) {
  #modal{
    left: 25px;
  }
  #modal .genre--img {
    margin: 20px;
  }
  #genre .genre--img--one p {
    font-size: 15px;
  }
  #genre .genre--img--nine p {
    left: 15%;
  }
}

@media (max-width: 450px) {
  #modal {
    left: 25px;
  }
  #genre .genre--img {
    right: 59px;
  }
  #genre .genre--img--one p {
    padding: 0 0 0 110px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 100px;
  }
  #genre .genre--img--three p {
    left: 15%;
  }
  #genre .genre--img--four p {
    left: 15%;
  }
  #genre .genre--img--five p {
    left: 1%;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 96px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 100px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 100px;
  }
  #genre .genre--img--ten p {
    width: 100%;
    padding: 1px 0 0 65px;
  }

  #genre .genre--img--one img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--two img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--three img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--four img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--five img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--six img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--seven img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--eight img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--nine img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
  #genre .genre--img--ten img {
    padding: 20px 0;
    position: relative;
    left: 67px;
  }
}

@media (max-width: 400px) {
  #modal {
    left: 20px;
  }
  #genre .genre--img--one img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--two img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--three img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--four img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--five img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--six img {
    padding: 20px 0 20px 20px;
    width: 80%;
  }
  #genre .genre--img--seven img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--eight img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }
  #genre .genre--img--nine img {
    padding: 20px 0 20px 20px;
    width: 84%;
  }
  #genre .genre--img--one p {
    padding: 0 0 0 100px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 100px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 100px;
  }
  #genre .genre--img--five p {
    padding: 10px 0 0 110px;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 99px;
  }

  #genre .genre--img--ten img {
    padding: 20px 0 20px 20px;
    width: 92%;
  }


}

@media (max-width: 380px) {
  #modal {
    left:15px;
  }
  #genre .genre--img--one img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--two img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--three img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--four img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--five img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--six img {
    padding: 20px 0 20px 12px;
    width: 85%;
  }
  #genre .genre--img--seven img {
    padding: 20px 0 20px 10px;
    width: 90%;
  }
  #genre .genre--img--eight img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--nine img {
    padding: 20px 0 20px 10px;
    width: 90%;
  }
  #genre .genre--img--ten img {
    padding: 20px 0 20px 10px;
    width: 90%;
  }
  #genre .genre--img--one p {
    padding: 0 0 0 90px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 86px;
  }
  #genre .genre--img--five p {
    left: 11%;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 75px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 87px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 99px;
  }


}

@media (max-width: 360px) {

  #genre .genre--img--six img {
    padding: 20px 0 20px 22px;
    width: 88%;
  }
  #modal {
    left:15px;
  }
  #genre .genre--img--one p {
    padding: 0 0 0 78px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 80px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 80px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--five p {
    left: -5%;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 80px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--nine p {
    padding: 10px 0 0 80px;
  }
  #genre .genre--img--ten p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--ten img {
    padding: 20px 0 20px 10px;
    width: 92%;
  }
  #genre .genre--img--six img {
    padding: 20px 0 20px 10px;
    width: 90%;
  }
}

@media (max-width: 320px) {
  #genre .genre--img--six img {
    padding: 20px 0 20px 18px;
    width: 88%;
  }
  #modal {
    left:15px;
  }
  #genre .genre--img--one p {
    padding: 0 0 0 78px;
    font-size: 10px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 75px;
    font-size: 12px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 80px;
    font-size: 12px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 85px;
    font-size: 11px;
  }
  #genre .genre--img--five p {
    left: -15%;
    font-size: 10px;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 65px;
    font-size: 13px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 75px;
  }
  #genre .genre--img--nine p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--ten p {
    padding: 10px 0 0 60px;
    font-size: 10px;
  }
  #genre .genre--img--one img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--two img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--three img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--four img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--five img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--six img {
    padding: 20px 0 20px 1px;
    width: 87%;
    height: 170px;
  }

  #genre .genre--img--seven img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--eight img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--nine img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }

  #genre .genre--img--ten img {
    padding: 20px 0 20px 1px;
    width: 92%;
    height: 170px;
  }
}








