#stores{
  background: #161718;
  .stores{
    h1{
      font-family: 'Jost',sans-serif;
      font-weight: 700;
      font-size: 32px;
      padding: 60px 0 40px 478px;
      color: #FDFCF7;
    }
    .block{
      .cards{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .shop{
          display: flex;
          align-items: center;
          flex-direction: column;
          .map{
            width: 300px;
            height: 190px;
          }
          .shop-img{
            width: 65%;
          }
          h3{
            font-family: 'Jost',sans-serif;
            font-weight: 500;
            font-size: 18px;
            padding: 15px 0 50px 0;
            color: #FFFFFF;
          }
        }
      }
    }

    p{
      font-size: 14px;
      color: #FFFFFF;
      padding: 30px 0 100px 495px;
    }
  }
}


@media (max-width: 1536px) {
  #stores .stores h1 {
    padding: 60px 0 40px 600px;
  }
  #stores .stores p {
    padding: 30px 0 100px 615px;
  }
}

@media (max-width: 1400px) {
  #stores .stores h1 {
    padding: 60px 0 40px 550px;
  }
  #stores .stores p {
    padding: 30px 0 100px 550px;
  }
}

@media (max-width: 1366px) {
  #stores .stores h1 {
    padding: 60px 0 40px 530px;
  }
  #stores .stores p {
    padding: 30px 0 100px 530px;
  }

}

@media (max-width: 1280px) {
  #stores .stores h1 {
    padding: 60px 0 50px 475px;
  }
  #stores .stores p {
    padding: 30px 0 100px 490px;
  }

}

@media (max-width: 1200px) {
  #stores .stores h1 {
    padding: 60px 0 40px 460px;
  }
  #stores .stores p {
    padding: 30px 0 100px 460px;
  }

}

@media (max-width: 1140px) {
  #stores .stores h1 {
    padding: 60px 0 40px 425px;
  }
  #stores .stores p {
    padding: 30px 0 100px 440px;
  }

}

@media (max-width: 1024px) {
  #stores .stores .block .cards .shop .map {
    width: 250px;
    height: 170px;
  }
  #stores .stores .block .cards .shop h3 {
    font-size: 15px;
    padding: 15px 0 50px 0;
  }
  #stores .stores h1 {
    padding: 60px 0 40px 370px;
  }
  #stores .stores p {
    padding: 30px 0 100px 380px;
  }

}

@media (max-width: 992px) {
  #stores .stores h1 {
    padding: 60px 0 40px 380px;
    font-size: 25px;
  }
  #stores .stores p {
    padding: 30px 0 100px 370px;
  }

}

@media (max-width: 768px) {
  #stores .stores .cards .shop h3 {
    font-size: 10px;
  }
  #stores .stores p {
    padding: 30px 0 100px 285px;
    font-size: 11px;
  }
  #stores .stores h1 {
    padding: 60px 0 40px 290px;
    font-size: 20px;
  }
  #stores .stores .block .cards {
    flex-direction: column;
    align-items: center;
  }
  #stores .stores .block{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


}

@media (max-width: 576px) {
  #stores .stores .block .cards .shop .map {
    width: 220px;
    height: 150px;
  }
  #stores .stores h1 {
    padding: 60px 0 40px 217px;
    font-size: 15px;
  }
  #stores .stores p {
    padding: 20px 0 80px 200px;
    font-size: 11px;
  }
  #stores .stores .block .cards .shop h3 {
    font-size: 13px;

  }

}

@media (max-width: 450px) {
  #stores .stores .block .cards .shop .map {
    width: 180px;
    height: 120px;
  }
  #stores .stores h1 {
    padding: 50px 0 30px 170px;
    font-size: 12px;
  }
  #stores .stores p {
    padding: 20px 0 80px 160px;
    font-size: 8px;
  }
  #stores .stores .block .cards .shop h3 {
    font-size: 10px;
  }

}

@media (max-width: 414px) {
  #stores .stores h1 {
    padding: 50px 0 30px 140px;
  }
  #stores .stores .block .cards .shop .map {
    width: 160px;
    height: 100px;
  }
  #stores .stores .cards {
    flex-direction: column;
  }
  #stores .stores h1 {
    padding: 50px 0 30px 150px;
    font-size: 15px;
  }
  #stores .stores .cards .shop h3 {
    font-size: 10px;
  }
  #stores .stores p {
    padding: 20px 0 80px 145px;
    font-size: 8px;
  }
  #stores .stores .block .cards .shop .shop-img {
    width: 75%;
  }

}

@media (max-width: 390px) {
  #stores .stores p {
    padding: 20px 0 80px 125px;
  }
  #stores .stores h1 {
    padding: 50px 0 30px 130px;
  }
  #stores .stores .block .cards .shop .shop-img {
    width: 80%;
  }
  #stores .stores p {
    padding: 20px 0 80px 138px;
  }

}

@media (max-width: 380px) {

  #stores .stores .block .cards .shop h3 {
    font-size: 13px;
  }
  #stores .stores h1 {
    padding: 50px 0 30px 120px;
  }
  #stores .stores .block .cards .shop .map {
    width: 250px;
    height: 150px;
    text-align: center;
  }
  #stores .stores .block {
    flex-direction: column;
  }
  #stores .stores p {
    padding: 20px 0 80px 130px;
  }

}

@media (max-width: 375px) {
  #stores .stores .block .cards .shop .shop-img {
    width: 75%;
  }

}

@media (max-width: 360px) {
  #stores .stores h1 {
    padding: 50px 0 30px 105px;
    font-size: 20px;
  }
  #stores .stores p {
    padding: 0 0 50px 120px;
  }


}

@media (max-width: 320px) {
  #stores .stores h1 {
    padding: 50px 0 30px 90px;
  }
  #stores .stores p {
    padding: 0 0 50px 100px;
  }
  #stores .stores .cards {
    align-items: center;
  }

}





