#auth{
  position: fixed;
  left: 31%;
  top: 4%;
  right: 0;
  bottom: 0;
  animation: login 1s forwards;
  width: 480px;
  z-index: 99;
  .auth{
    position: relative;
    width: 100%;
    height: 550px;
    background: #F8F4E4;
    text-align: center;
    padding: 0  10px;
    &--block {
      img{
        width: 300px;
        height: 130px;
      }
    }
    &--sign {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-top: -30px;
      h2 {
        margin: 0 20px 10px 20px;
        font-weight: 600;
        font-size: 18px;
        color: #161718;
        cursor: pointer;

      }
      h3{
        margin: 0 20px 10px 20px;
        font-weight: 400;
        font-size: 20px;
        color: #2A2C31;
      }
    }
    &--login{
      &--regin {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        input {
          width: 72%;
          margin: 20px 0;
          height: 40px;
          padding: 0 20px;
          font-size: 13px;
          outline: none;
          color: #FDFCF7;
          border: none;
          background: #161718;
        }
        ::placeholder {
          color: #FDFCF7;
        }
        &--password{
          display: flex;
          align-items: center;
          justify-content: center;
          input {
            width: 72%;
            margin: 10px 0;
            height: 40px;
            padding: 0 20px;
            font-size: 13px;
            outline: none;
            color: #FDFCF7;
            border: none;
            background: #161718;
          }
          ::placeholder {
            color: #FDFCF7;
          }
        }
      }
      &--password {
        width: 340px;
        margin-left: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        &__checkbox {
          display: flex;
          align-items: center;
          cursor: pointer;
          input {
            width: 15px;
            height: 15px;
            background: #000;
          }
          h5 {
            color: black;
            font-size: 14px;
            padding-left: 10px;
          }
        }
        &__forgot {
          color: black;
          font-size: 15px;
          cursor: pointer;
        }
      }
      &--btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        .btns{
          width: 140px;
          height: 50px;
          border-radius: 20px;
          color: #FDFCF7;
          font-size: 20px;
        }
      }
      &--read {
        img {
          position: absolute;
          left:0;
          bottom: 0;
          width: 150px;
        }
      }
    }
    &--signup{
      .sign {
        position: relative;
        background: #F8F4E4;
        text-align: center;
        padding: 0  10px;
        &--block {
          height: 120px;
        }
        &--sign {
          display: flex;
          align-items: center;
          justify-content: center;
          h2 {
            margin: 0 20px;
            font-weight: 600;
            font-size: 23px;
            color: black;
            cursor: pointer;
          }
        }

        &--regin {
          padding-top: 20px;
          input {
            width: 72%;
            height: 40px;
            padding: 0 20px;
            font-size: 13px;
            outline: none;
            color: #FDFCF7;
            border: none;
            background: #161718;
          }
          ::placeholder {
            color: #FDFCF7;
          }
        }

        &--regin1 {
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            width: 72%;
            margin: 15px 0;
            height: 40px;
            padding: 0 20px;
            font-size: 12px;
            outline: none;
            color: #FDFCF7;
            border: none;
            background: #161718;
          }
          ::placeholder {
            color: #FDFCF7;
          }
        }

        &--regin2 {

          input {
            width: 72%;
            height: 40px;
            padding: 0 20px;
            font-size: 13px;
            outline: none;
            color: #FDFCF7;
            border: none;
            background: #161718;
          }
          ::placeholder {
            color: #FDFCF7;
          }
        }
        &--regin3 {
          margin-top: 10px;
          input {
            width: 72%;
            height: 40px;
            padding: 0 20px;
            font-size: 13px;
            outline: none;
            color: #FDFCF7;
            border: none;
            background: #161718;
          }
          ::placeholder {
            color: #FDFCF7;
          }
        }
        &--password {
          width: 361px;
          margin-left: 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top:15px;
          padding-bottom: 15px;
          &__checkbox {
            display: flex;
            align-items: center;
            cursor: pointer;

            input {
              width: 15px;
              height: 15px;
              background: #000;
              cursor: pointer;
            }
            h5 {
              color: #161718;
              font-size: 14px;
              padding-left: 10px;
              font-weight: 400;
            }
          }
          &__forgot {
            color: black;
            font-size: 15px;
            cursor: pointer;
          }
        }

        &--btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 5px;
          button {
            outline: none;
            font-weight: 400;
            background: #000;
            border: none;
            cursor: pointer;
            width: 140px;
            height: 50px;
            border-radius: 20px;
            color: #FDFCF7;
            font-size: 20px;
          }
        }
        &--read {

          img {
            position: absolute;
            left:0;
            bottom: 0;
            width: 150px;
          }
        }

      }
    }

  }
  .active{
    border-bottom: 2px solid red;
  }
}
@keyframes login {
  0% {
    transform: translateY(-400px);
    transition: .4s;
  }
  100% {
    transform: translateY(0px);
  }
}
