.bookcard{
  h1{
    font-size: 20px;
  }
  p{
    color:#2C293B;
    font-size: 15px;
    font-weight: 700;
    width: 145px;

    margin-bottom: 10px;
  }
  img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
  }
  h3{
    color: #DE2454;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 3px;
    text-decoration: line-through;
  }
  h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  h5{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 376px) {
  .bookcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img{
      width: 170px;
      height: 230px;
    }
    div {
      width: 170px;
      text-align: left;
    }
  }
}

@media (max-width: 320px) {
  .bookcard{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img{
      width: 170px;
      height: 230px;
    }
    div {
      width: 170px;
      text-align: left;
    }
  }
}