#header {
  background: #F8F4E4;
  height: 170px;
  .header {
    &--start {
      text-align: center;
      height: 100px;
     img {
       width: 250px;
     }
    }
    &--center {
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__close {
        position: fixed;
        z-index: 9;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.43);
      }
      &__start {
          button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 110px;
            height: 40px;
            background: black;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
            outline: none;
          }
      }
      &__block {
        a {
          color: black;
          margin: 0 30px;
        }
      }
      &__end {
        display: flex;
        align-items: center;
        &--one {
           button{
            background: none;
            outline: none;
            width: 60px;
            border: none;
          }
        }
        &--two {
          &__close {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.43);
          }
          &__user {
            background: #000;
            width: 40px;
            height: 40px;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            border-radius: 20px;
          }
        }
      }
    }
  }
}