#pay {
  body {
    font-family: 'Jost', sans-serif;
  }
  background: #F8F4E4;
  .pay {
    display: flex;
    align-items: center;
    padding: 100px 0 150px 0;
    .card{
      margin: 0 30px;
      border: 2px solid #D9D9D9;
      padding: 50px 50px 50px 100px;
      .check {
        display: flex;
        align-items: center;
        padding: 10px 0;

        h1 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 17px;
        }
      }
      .in{
        display: flex;
        align-items: center;
        input{
          margin: 20px 0;
          border: 2px solid #D9D9D9;
          background: #F8F4E4;
          padding: 8px 100px 10px 10px;
        }
        .word{
          width: 28%;
          font-size: 14px;
          padding: 0 10px;
        }
        .word2{
          width: 38%;
          padding: 0 10px;
          font-size: 14px;
        }
      }
      button{
        padding: 10px 35px;
        color: whitesmoke;
        background: black;
        border-radius: 10px;
        margin: 20px 0 0 70px;
        font-size: 18px;
      }
    }
    .book{
      position: absolute;
      top: 270px;
      left: 880px;
      border: 2px solid #D9D9D9;
      padding: 170px 160px;
    }
  }
}

@media (max-width:1536px ) {
  #pay .pay .book {
    top: 270px;
    left: 960px;
    padding: 190px 180px;
  }

}

@media (max-width:1400px ) {
  #pay .pay .book {
    top: 270px;
    left: 960px;
    padding: 190px 180px;
  }

}

@media (max-width:1366px ) {
  #pay .pay .book {
    left: 910px;
  }
}

@media (max-width:1280px ) {

  #pay .pay .card {
    padding: 50px 50px 50px 70px;
  }
  #pay .pay .book {
    left: 850px;
  }
}

@media (max-width:1200px ) {

  #pay .pay .card {
    padding: 50px 20px 50px 40px;
  }
  #pay .pay .book {
    left: 850px;
  }
  #pay .pay .book {
    padding: 190px 150px;
  }
  #pay .pay .card {
    padding: 50px 0 50px 40px;
  }
  #pay .pay .book {
    left: 800px;
  }
}

@media (max-width:992px ) {
  #pay .pay .card .in .word {
    width: 20%;
  }
  #pay .pay .card .in .word2 {
    width: 31%;
  }
  #pay .pay .card {
    padding: 50px 0 50px 40px;
    position: relative;
    left: 70px;
  }
  #pay .pay {
flex-wrap: wrap;
    flex-direction: column;
  }
}