#login{
  position: fixed;
  left: 31%;
  top: 14%;
  right: 0;
  bottom: 0;
  animation: login 1s forwards;
  z-index: 99;
  .login {
    position: relative;
    width: 450px;
    height: 550px;
    background: #F8F4E4;
    text-align: center;
    padding: 0  10px;
    &--block {
      height: 150px;
    }
    &--sign {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        margin: 0 20px;
        font-weight: 600;
        font-size: 23px;
        color: black;
        cursor: pointer;
      }
    }
    &--regin {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 72%;
        margin: 20px 0;
        height: 40px;
        padding: 0 20px;
        font-size: 13px;
        outline: none;
        color: white;
        border: none;
        background: #000;
      }
      ::placeholder {
        color: white;
      }
    }
    &--password {
      width: 361px;
      margin-left: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      &__checkbox {
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
          width: 15px;
          height: 15px;
          background: #000;
        }
        h5 {
          color: black;
          font-size: 14px;
          padding-left: 10px;
        }
      }
      &__forgot {
        color: black;
        font-size: 15px;
        cursor: pointer;
      }
    }
    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        padding: 13px 40px;
        border-radius: 20px;
        outline: none;
        color: white;
        font-weight: 400;
        font-size: 20px;
        background: #000;
        border: none;
        cursor: pointer;
        transform: scaleY(1);
        transition: .4s;
        &:hover {
          background: #ffffff;
          box-shadow: #56b253;
          color: #000;
          transform: scaleY(1.1);
          transition: .4s;
        }
      }
    }
    &--read {
      img {
        position: absolute;
        left:0;
        bottom: 0;
        width: 150px;
      }
    }

  }
}
@keyframes login {
  0% {
    transform: translateY(-400px);
    transition: .4s;
  }
  100% {
    transform: translateY(0px);
  }
}