
@media (max-width: 1536px) {
  #genre{
    background: #F8F4E4;

    .genre{
      background: #F8F4E4;
      &--title{
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1{
          font-weight: 500;
          font-size: 40px;
        }
        button{
          color: #3970FA;
          font-size: 22px;
          border: none;
          background: transparent;
        }
      }
      &--img{
        position: relative;
        margin-bottom: 100px;
        border: none;
        &--one{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 1.5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--two{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 25%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--three{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 6%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--four{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 2%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--five{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 1.5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--six{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 25%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--seven{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 21%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
          }
        }
        &--eight{
          position: relative;

          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 15%;
            top: 45%;
            color: rgba(255, 255, 255, 0.98);
            font-size: 16px;
            font-weight: 900;
            z-index: 5;
          }
        }
        &--nine{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 3%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            z-index: 3;
          }
        }
        &--ten{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 900;
            z-index: 3;
          }
        }

      }

      .slick-prev:before{
        color: red;
        font-size: 25px;
      }
      .slick-next:before{
        color: red;
        font-size: 25px;
      }
    }

  }
}

@media (max-width: 1366px){
  #genre{
    background: #F8F4E4;

    .genre{
      background: #F8F4E4;
      padding: 60px 0;
      &--title{

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1{
          font-weight: 500;
          font-size: 40px;
        }
        button{
          color: #3970FA;
          font-size: 22px;
          border: none;
          background: transparent;
        }
      }
      &--img{
        position: relative;
        margin-bottom: 100px;
        border: none;
        &--one{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 1.5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--two{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 25%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--three{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 6%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--four{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 2%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--five{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 1.5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--six{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 25%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &--seven{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 21%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
          }
        }
        &--eight{
          position: relative;

          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 15%;
            top: 45%;
            color: rgba(255, 255, 255, 0.98);
            font-size: 16px;
            font-weight: 900;
            z-index: 5;
          }
        }
        &--nine{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 3%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            z-index: 3;
          }
        }
        &--ten{
          position: relative;
          img{
            width: 160px;
            height: 260px;
            z-index: 1;
            border-radius: 10px;
          }
          p{
            position: absolute;
            left: 5%;
            top: 45%;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 900;
            z-index: 3;
          }
        }

      }

      .slick-prev:before{
        color: black;
        font-size: 25px;
      }
      .slick-next:before{
        color: black;
        font-size: 25px;
      }
    }

  }
}

@media (max-width: 1140px) {
  #genre .genre--img--one img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--two img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--three img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--four img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--five img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--six img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--seven img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--eight img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--nine img {
    width: 150px;
    height: 250px;
  }
  #genre .genre--img--ten img {
    width: 150px;
    height: 250px;
  }
}

@media (max-width: 1024px) {
  #genre .genre--img--one img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--two img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--three img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--four img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--five img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--six img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--seven img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--eight img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--nine img {
    width: 140px;
    height: 240px;
  }
  #genre .genre--img--ten img {
    width: 140px;
    height: 240px;
  }
}

@media (max-width: 992px) {
  #genre .genre--img--one img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--two img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--three img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--four img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--five img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--six img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--seven img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--eight img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--nine img {
    width: 140px;
    height: 230px;
  }
  #genre .genre--img--ten img {
    width: 140px;
    height: 230px;
  }
}

@media (max-width: 768px) {
  #genre .genre--title h1 {
    font-size: 35px;
  }
  #genre .genre--title button {
  font-size: 20px;
  }

  #genre .genre--img--one p {
    font-size: 15px;
   text-align: center;
  }
  #genre .genre--img--two p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--three p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--four p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--five p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--six p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--seven p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--eight p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--nine p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--ten p {
    font-size: 15px;
    text-align: center;
  }
  #genre .genre--img--one img {
    width: 100px;
    height: 200px;
  }
  #genre .genre--img--two img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--three img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--four img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--five img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--six img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--seven img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--eight img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--nine img {
    width: 110px;
    height: 200px;
  }
  #genre .genre--img--ten img {
    width: 110px;
    height: 200px;
  }

}

@media (max-width:576px) {
  #genre .genre--img--one img {
     width: 160px;
    height: 240px;
  }
  #genre .genre--img--two img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--three img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--four img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--five img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--six img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--seven img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--eight img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--nine img {
    width: 160px;
    height: 240px;
  }
  #genre .genre--img--ten img {
    width: 160px;
    height: 240px;
  }
}

@media (max-width:450px) {
  #genre .genre--title h1 {
    font-size: 30px;
  }
  #genre .genre .genre--img{
padding: 0 20px 40px 20px;
  }

  #genre .genre--img--one img {
      width: 200px;
      height: 210px;
    position: relative;
      left: 80px;
    }
  #genre .genre--img--two img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--three img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--four img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--five img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--six img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--seven img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--eight img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--nine img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--ten img {
    width: 200px;
    height: 210px;
    position: relative;
    left: 80px;
  }
  #genre .genre--img--one p {
    font-size: 15px;
    text-align: center;
   padding: 10px 0 0 110px;
  }
  #genre .genre--img--two p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--three p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 110px;
  }
  #genre .genre--img--four p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 110px;
  }
  #genre .genre--img--five p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 110px;
  }
  #genre .genre--img--six p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--seven p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--eight p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--nine p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 110px;
  }
  #genre .genre--img--ten p {
    font-size: 15px;
    text-align: center;
    padding: 10px 0 0 110px;
  }
}


@media (max-width:400px) {
  #genre .genre--title h1 {
    font-size: 30px;
  }
  #genre .genre .genre--img{
    padding: 0 20px 40px 20px;
  }

  #genre .genre--img--one img {
    left: 60px;
  }
  #genre .genre--img--two img {
    left: 60px;
  }
  #genre .genre--img--three img {
    left: 60px;
  }
  #genre .genre--img--four img {
    left: 60px;
  }
  #genre .genre--img--five img {
    left: 60px;
  }
  #genre .genre--img--six img {
    left: 60px;
  }
  #genre .genre--img--seven img {
    left: 60px;
  }
  #genre .genre--img--eight img {
    left: 60px;
  }
  #genre .genre--img--nine img {
    left: 60px;
  }
  #genre .genre--img--ten img {
    left: 60px;
  }
  #genre .genre--img--one p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--five p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 50px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--nine p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--ten p {
    padding: 10px 0 0 90px;
  }
}

@media (max-width:360px) {
  #genre .genre--title h1 {
    font-size: 30px;
  }
  #genre .genre .genre--img{
    padding: 0 20px 40px 20px;
  }

  #genre .genre--img--one img {
    left: 50px;
  }
  #genre .genre--img--two img {
    left: 50px;
  }
  #genre .genre--img--three img {
    left: 50px;
  }
  #genre .genre--img--four img {
    left: 50px;
  }
  #genre .genre--img--five img {
    left: 50px;
  }
  #genre .genre--img--six img {
    left: 50px;
  }
  #genre .genre--img--seven img {
    left: 50px;
  }
  #genre .genre--img--eight img {
    left: 50px;
  }
  #genre .genre--img--nine img {
    left: 50px;
  }
  #genre .genre--img--ten img {
    left: 50px;
  }
  #genre .genre--img--one p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 80px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--five p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 50px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--nine p {
    padding: 10px 0 0 90px;
  }
  #genre .genre--img--ten p {
    padding: 10px 0 0 90px;
  }
}

@media (max-width:320px) {
  #genre .genre--title h1 {
    font-size: 30px;
  }
  #genre .genre .genre--img{
    padding: 0 20px 40px 20px;
  }

  #genre .genre--img--one img {
    left: 30px;
  }
  #genre .genre--img--two img {
    left: 30px;
  }
  #genre .genre--img--three img {
    left: 30px;
  }
  #genre .genre--img--four img {
    left: 30px;
  }
  #genre .genre--img--five img {
    left: 30px;
  }
  #genre .genre--img--six img {
    left: 30px;
  }
  #genre .genre--img--seven img {
    left:30px;
  }
  #genre .genre--img--eight img {
    left: 30px;
  }
  #genre .genre--img--nine img {
    left: 30px;
  }
  #genre .genre--img--ten img {
    left: 30px;
  }
  #genre .genre--img--one p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--two p {
    padding: 10px 0 0 50px;
  }
  #genre .genre--img--three p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--four p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--five p {
    padding: 10px 0 0 60px;
  }
  #genre .genre--img--six p {
    padding: 10px 0 0 40px;
  }
  #genre .genre--img--seven p {
    padding: 10px 0 0 50px;
  }
  #genre .genre--img--eight p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--nine p {
    padding: 10px 0 0 70px;
  }
  #genre .genre--img--ten p {
    padding: 10px 0 0 70px;
  }
}






